<% layout("/layout/boilerplate") -%>
<html>
<head>
    <style>
        
        h3 {
            color: #333;
            margin-bottom: 20px;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
        }

        button.Delete {
            background-color: #dc3545;
         
            width: 100px;
        }

        button.Delete:hover {
            background-color: #c82333;
        }

       

       
        .details {
            border: 1px solid #ccc;
            padding: 20px;
            margin-bottom: 30px;
        }
    </style>
</head>
<body>
    <h3>All Listings are Here</h3>
    <div class="details">
        <ul>
            <li><strong>Title:</strong> <%= listing.title %></li>
            <li><strong>Description:</strong> <%= listing.description %></li>
            <li><strong>Price:</strong> &#8377; <%= listing.price.toLocaleString("en-IN") %></li>
            <li><strong>Country:</strong> <%= listing.country %></li>
            <li><strong>Location:</strong> <%= listing.location %></li>
        </ul>
    </div>
    <form action="/Listings/<%= listing.id %>/edit" method="GET">
        <button type="submit" class="Delete">Edit</button>
    </form>
    <form action="/Listings/<%= listing.id %>?_method=DELETE" method="POST">
        <button class="Delete" type="submit">Delete</button>
    </form>
</body>
</html>
